@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
body > *{
    width: 80%;
    margin: auto;
}
header{
    margin-bottom: 2%;
}
header img{
    height: 70px;
    border-right: 1px solid #878787;
    padding-right: 10px;
}
nav{
    margin-top: 20px;
}
nav li{
    text-transform: uppercase;
    color: #878787;
    display: inline;
    list-style: none;
    margin-right: 10px;
}
nav li a{
    text-decoration: none;
}
nav li a:hover{
    text-decoration: underline;
}
.border-rounded{
    border-radius: 20px; 
}
.bg-trait{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner-main{
    background-image: url(img/banner.jpg);
    height: 500px;
    margin-bottom: 2%;
    position: relative;
    overflow: auto;
}
.banner-text{
    position: absolute;
    bottom: 20px;
    padding: 20px;
    width: 60%;
    color: white;
}
.banner-title{
    font-size: 35px;
}
.filter-dark{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.content-title{
    margin-bottom: 2%;
}
.content-title h1{
    font-size: 35px;
    font-weight: bold;
}
.content p{
    color: #878787;
    overflow: auto;
}
.columns-conteiner::after{
    content: "";
    clear: both;
    display: table;
}
.columns-conteiner > div{
    float: left;
}
.left-col, .right-col{
    width: 20%;
}
.center-col{
    width: 58%;
    margin-left: 1%;
    margin-right: 1%;
}
.img-col{
    height: 200px;
    margin-bottom: 20px;
}
.left-col .img-col{
    background-image: url(img/img-1.jpg);
}
.center-col .img-col{
    background-image: url(img/banner-2.jpg);
}
.right-col .img-col{
    background-image: url(img/img-3.jpg);
}
.columns-conteiner div h2{
    font-weight: normal;
    margin-bottom: 10px;
}
footer{
    text-align: center;
    margin-top: 0.5%;
}
footer::after{
    color: red;
    font-size: 30px;
    content: "\2665";
}
